################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CG_skel/v16
/CG_skel_w_MFC/Debug
/freeglut/Debug
/glew/Debug
